@import url('https://fonts.googleapis.com/css2?family=Anta&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="Light"] {
  /*basic config*/
  --background-color: white;
  --background-color-transparent: rgba(255, 255, 255, 0.85);
  --text-color: black;
  --text-link-color: theme(colors.blue.900);
  --text-link-hover-color: theme(colors.blue.200);
  --active-text-color: #363636;
  --border-color: black;
  --selected-theme-border-color: orange;
  --background-image: url('./assets/light.jpg');

  /*other colors*/
  --underline-color: theme(colors.black);
  --placeholder-color: theme(colors.gray.800);
  --search-text-color: theme(colors.black);
  --search-border-color: theme(colors.white);
  --active-page-link-color: theme(colors.white);

  /*normal buttons*/
  --button-base-color: theme(colors.gray.100);
  --button-hover-color: theme(colors.gray.200);
  --button-focus-color: theme(colors.gray.100);
  --button-active-color: theme(colors.gray.300);
  --button-text-color: theme(colors.black);

  /*delete buttons (except icon delete buttons)*/
  --button-delete-base-color: theme(colors.gray.800);
  --button-delete-hover-color: theme(colors.gray.700);
  --button-delete-focus-color: theme(colors.gray.800);
  --button-delete-active-color: theme(colors.gray.600);
  --button-delete-text-color: theme(colors.white);

  /*submit buttons*/
  --button-submit-base-color: theme(colors.blue.300);
  --button-submit-hover-color: theme(colors.blue.100);
  --button-submit-focus-color: theme(colors.blue.300);
  --button-submit-active-color: theme(colors.blue.300);
  --button-submit-text-color: theme(colors.black);

  /*table attributes*/
  --table-bg-color: theme(colors.gray.800);
  --table-text-color: theme(colors.white);
  --table-tr-color-odd: theme(colors.gray.500);
  --table-tr-color-even: theme(colors.gray.400);
}

[data-theme="Dark"] {
  --background-color: black;
  --background-color-transparent: rgba(0,0,0,0.85);
  --text-color: white;
  --active-text-color: #c4c4c4;
  --border-color: white;
  --selected-theme-border-color: yellow;
  --background-image: url('./assets/dark.jpg');
}

[data-theme="Light-Western"] {
  --background-color: white;
  --background-color-transparent: rgba(255, 255, 255, 0.85);
  --text-color: black;
  --active-text-color: #363636;
  --border-color: black;
  --selected-theme-border-color: orange;
  --background-image: url('./assets/light-western.jpg');

  /*basic config*/
  --text-link-color: theme(colors.blue.900);
  --text-link-hover-color: theme(colors.white);

  /*other colors*/
  --underline-color: theme(colors.black);
  --placeholder-color: theme(colors.gray.800);
  --search-text-color: theme(colors.black);
  --search-border-color: theme(colors.white);
  --active-page-link-color: theme(colors.white);

  /*normal buttons*/
  --button-base-color: theme(colors.gray.100);
  --button-hover-color: theme(colors.gray.200);
  --button-focus-color: theme(colors.gray.100);
  --button-active-color: theme(colors.gray.300);
  --button-text-color: theme(colors.black);

  /*delete buttons (except icon delete buttons)*/
  --button-delete-base-color: theme(colors.gray.800);
  --button-delete-hover-color: theme(colors.gray.700);
  --button-delete-focus-color: theme(colors.gray.800);
  --button-delete-active-color: theme(colors.gray.600);
  --button-delete-text-color: theme(colors.white);

  /*submit buttons*/
  --button-submit-base-color: theme(colors.blue.300);
  --button-submit-hover-color: theme(colors.blue.100);
  --button-submit-focus-color: theme(colors.blue.300);
  --button-submit-active-color: theme(colors.blue.300);
  --button-submit-text-color: theme(colors.black);

  /*table attributes*/
  --table-bg-color: theme(colors.gray.800);
  --table-text-color: theme(colors.white);
  --table-tr-color-odd: theme(colors.gray.500);
  --table-tr-color-even: theme(colors.gray.400);
}

[data-theme="Dark-Western"] {
  --background-color: black;
  --background-color-transparent: rgba(0, 0, 0, 0.85);
  --text-color: white;
  --active-text-color: #c4c4c4;
  --border-color: white;
  --selected-theme-border-color: yellow;
  --background-image: url('./assets/dark-western.jpg');
}

body {
  margin: 0;
  font-family: 'Anta';
  color: var(--text-color);
  background: var(--background-image) no-repeat center center fixed;
  background-size: cover;
}